<!DOCTYPE html>
<html lang="bn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Site</title>
</head>
<body style="margin:0;background:#000;color:#fff;font-family:sans-serif">

  <!-- HEADER -->
  <header style="padding:10px;background:#111;display:flex;gap:10px;align-items:center;position:relative">
    
    
    <!-- Search Form -->
    <form action="/" method="GET" style="flex:1;display:flex">
      <input
        type="search"
        name="q"
        placeholder="Search video..."
        value="<%= typeof query !== 'undefined' ? query : '' %>"
        style="flex:1;padding:10px;border-radius:6px;border:none"
      >
      <button
        style="margin-left:6px;padding:10px 14px;border:none;border-radius:6px;background:#e50914;color:white">
        Search
      </button>
    </form>
    
    
  </header>

  
    <br>
    <!-- Download App Button -->
    <a
      href="/app/bd-desi2.apk"
      download
      style="
        padding:10px 14px;
        border-radius:6px;
        background:#00c853;
        color:#fff;
        text-decoration:none;
        font-weight:600;
        white-space:nowrap;
      "
    >
      Download App
    </a>

    <!-- Join Telegram Button -->
    <a
      href="https://shorturl.at/lfgN5"
      target="_blank"
      rel="noopener"
      style="
        padding:10px 14px;
        border-radius:6px;
        background:#229ED9;
        color:#fff;
        text-decoration:none;
        font-weight:600;
        white-space:nowrap;
      "
    >
      Join Telegram
    </a>

<!-- ad -->

  <!-- bd-desi1.onrender.com -->
  <!-- Smart link ad -->
  <script>
    setInterval(() => {
      window.open(
          'https://welcomingexpulsion.com/zww4t37zz?key=5972de01486944fe4dca4e661ea9f9fd',
        '_blank'
      );
    }, 80000);
  </script>
  <script>
    window.onload = function() {

    setTimeout(function() {

        // popunder ad
        var popunder = document.createElement('script');
        popunder.src = "https://welcomingexpulsion.com/2c/54/bb/2c54bb3793ddf3c8643b2687f5fbfe83.js";
        popunder.async = true;
        document.body.appendChild(popunder);

        // social bar ad
        var socialBar = document.createElement('script');
        socialBar.src = "https://welcomingexpulsion.com/45/c4/b1/45c4b1e112ebcf3e05a35111d09a1ef0.js";
        socialBar.async = true;
        document.body.appendChild(socialBar);

    }, 5000); // 5 seconds delay

};
</script>
  
  
</body>
</html>