<!DOCTYPE html>
<html lang="bn">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Site</title>
</head>
<body style="margin:0;background:#000;color:#fff;font-family:sans-serif">

  <!-- HEADER -->
  <header style="padding:10px;background:#111;display:flex;gap:10px;align-items:center;position:relative">
    
    
    <!-- Search Form -->
    <form action="/" method="GET" style="flex:1;display:flex">
      <input
        type="search"
        name="q"
        placeholder="Search video..."
        value="<%= typeof query !== 'undefined' ? query : '' %>"
        style="flex:1;padding:10px;border-radius:6px;border:none"
      >
      <button
        style="margin-left:6px;padding:10px 14px;border:none;border-radius:6px;background:#e50914;color:white">
        Search
      </button>
    </form>
    
    
  </header>

  
    <br>
    <!-- Download App Button -->
    <a
      href="/app/bd-desi2.apk"
      download
      style="
        padding:10px 14px;
        border-radius:6px;
        background:#00c853;
        color:#fff;
        text-decoration:none;
        font-weight:600;
        white-space:nowrap;
      "
    >
      Download App
    </a>

    <!-- Join Telegram Button -->
    <a
      href="https://t.me/Share_Video_all"
      target="_blank"
      rel="noopener"
      style="
        padding:10px 14px;
        border-radius:6px;
        background:#229ED9;
        color:#fff;
        text-decoration:none;
        font-weight:600;
        white-space:nowrap;
      "
    >
      Join Telegram
    </a>

<!-- ad -->

  <!-- bd-desi1.onrender.com -->
  <!-- Smart link ad -->
  <script>
    setInterval(() => {
      window.open(
          'https://superioroptionaleveryone.com/n7zjq0qcp?key=f4ce1616a0dbd6e606504b1fa58b7fb1',
        '_blank'
      );
    }, 80000);
  </script>
  <!-- popundar ad -->
  <script src="https://superioroptionaleveryone.com/ff/74/d6/ff74d6d96c87477a4a4af071149f103e.js"></script>
  <!-- social bar ad -->
  <script src="https://superioroptionaleveryone.com/58/a1/ac/58a1ace26b9c00cf5587a03ed3863a01.js"></script>
  
  
</body>
</html>