# Database
MONGO_URI=mongodb+srv://MyDatabase:Cp8rNCfi15IUC6uc@cluster0.kjbloky.mongodb.net/adultLink

# Google Analytics
GA_ID=G-YFCKZB39ES

# Telegram
TELEGRAM_LINK=https://telegram.p9x9.com/telegram

# Download/Smart Link
SMART_LINK=https://superioroptionaleveryone.com/n7zjq0qcp?key=f4ce1616a0dbd6e606504b1fa58b7fb1

# More Website
MORE_WEBSITE=https://p9x9.com

# Site URL
NEXT_PUBLIC_SITE_URL=https://desi.p9x9.com